<p>We have marked your buy request as completed. If you would like to view the status of all of your requests, please visit the <a href="/my-tix">My Tickets page (this may require you to login)</a>.</p>
