  <!-- Navigation -->
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TigerTickets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" style="border-bottom: 5px solid rgb(249, 113, 4);bottom: 0;color:white">FAQ</a>
        </li>
        <li>
          <a href="my-tix">My Tickets</a>
        </li>
        <li id="logoutLink">
          <a href="" id="logout">Logout</a>
        </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div align = "center">
        <img src="http://i.imgur.com/xwoZIlm.png" height="100">
      </div>

    <!-- /.row -->

    <div id = 'faq'>
		<!-- /.row -->
		<br>

        <p>Welcome to <strong>Tiger Tickets</strong> - a ticket exchange app for Princeton students to help ensure that the greatest number of students attend the greatest number of shows. You'll be instantly notified via email when you match with someone who can help complete your request.</p>

        <h3> </h3>
		<hr>

		<h1>
			Frequently Asked Questions
		</h1>

		<hr>
		<h2>
			How do I buy a ticket?
		</h2>
		<p>
			Search for the ticket you wish to buy on the front page and click the corresponding button. If there are already sellers, it will say the number of available tickets!
		</p>
		<h2>
			How do I sell a ticket?
		</h2>
		<p>
			Search for the ticket you wish to sell on the front page and click the corresponding button. If there are already buyers, it will say the number of buyers.
		</p>
		<h2>
			How do I get matched with a buyer/seller?
		</h2>
		<p>
			If another seller/buyer posts a request on our website for the same ticket, an email will be sent to both of you putting you in contact! The physical exchange of money and the ticket is up to you.
		</p>
		<h2>
			Can I use Tiger Tickets to purchase tickets from Frist?
		</h2>
		<p>
			We are not affiliated with the Frist Ticketing Office -- to officially buy tickets for a show, visit the <a href="https://tickets.princeton.edu/online/default.asp" target="_blank"> Frist Ticketing Webpage </a> or the Ticketing Office in Frist. We are working on posting a direct link to the online order form for each ticket. Stay tuned.
		</p>

		<hr>
	</div>

    <!-- Page Features -->
    <div class="row text-center">
		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; TigerTickets 2017</p>
			</div>
		</div>
		</footer>
    </div>

</body>

<script>
	$.get("/shows", function(response){
		netid = response["netid"];
			console.log(netid)
		var text = "<a id='logout' href='javascript:void(0)'> Logout ("+netid+") </a>"
		if(netid === ""){
			text = "<a href='login'> Login </a>"
		}
		$("#logoutLink").html(text);

		$("#logout").click(function(){
		$.post('logout');
		});
	})
</script>

<style>

body {
  background-color: white;  
}

#faq {
	color:black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(249, 113, 4);
    margin: 1em 0;
    padding: 0; 
}
</style>