  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="border-bottom: 5px solid orange;bottom: 0;width: 100px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color:white;">TigerTickets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="my-tix">My Tickets</a>
        </li>
        <li id="logoutLink">
          <a href="" id="logout">Logout</a>
        </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container" id = "calendar">
    <div class="cal1">
   	</div>
</div>

<hr>
<form onsubmit="return false" autocomplete="Off">
       <input id="show-search-bar" class="search-bar" type="text" name="search" 
       style="background-image: url(<%= asset_path 'searchicon.png' %>);" placeholder="Search...">
</form>

<hr>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center", id="ticket-listing">

  <!-- /.row -->
  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; TigerTickets 2017</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

<!-- Buy Modal -->
<div id="confirmBuyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="buyConfirm" aria-hidden="true">

  <!-- Modal content -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" data-dismiss="modal">&times;</span>
        <h2></h2>
      </div>
      <div class="modal-body">
          <h1>Confirm Ticket Buy Request?</h1>
          <p> You are about to confirm your buy request for:</p>
          <p id="confirmBuyBody">ya done goof'd</p>
          <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a id = "deleteButtonBuyModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInBuyRequest(this)">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- Sell Modal -->
<div id="confirmSellModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="sellConfirm" aria-hidden="true">

  <!-- Modal content -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" data-dismiss="modal">&times;</span>
        <h2></h2>
      </div>
      <div class="modal-body">
        <h1>Confirm Ticket Sell Request?</h1>
        <p> You are about to confirm your sell request for:</p>
        <p id="confirmSellBody">ya done goof'd</p>
        <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a id = "deleteButtonSellModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInSellRequest(this)">Confirm</a>
      </div>
    </div>
  </div>
</div>
<script>

  var netid = "<%= session[:cas_user] %>"
  var data = { "shows" : [] }
  var fullData = { "shows" : [] }
  
  function genFilteringPredicate(searchTerm) {
    search = searchTerm.toLowerCase()
    keywords = search.split(' ')
      return function(show) {
        return keywords.every(function(keyword) {
          return show['group'].toLowerCase().includes(keyword)
           || show['location'].toLowerCase().includes(keyword)
           || show['name'].toLowerCase().includes(keyword)
           || show['weekDay'].toLowerCase().includes(keyword)
           || show['month'].toLowerCase().includes(keyword)
           || show['dayOfMonth'].toString().toLowerCase().includes(keyword)
           || show['hour'].toString().toLowerCase().includes(keyword)
           || show['ampm'].toLowerCase().includes(keyword)
           || show['min'].toString().toLowerCase().includes(keyword)
           || show['time'].toLowerCase().includes(keyword)

        })
    }
  }

  $('#show-search-bar').on('input', function(event) {
    var searchTerm = $('#show-search-bar').val()
    if (searchTerm === "") {
      data['shows'] = fullData['shows']
      updateShows()
      return
    }
    data['shows'] = fullData['shows'].filter(genFilteringPredicate(searchTerm))
    updateShows()

  })

  var weekday = new Array(7);
  weekday[0] =  "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";

  var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];

  function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
  }
  
  function addDateDataToShows(originalShows) {
    // This code makes the function slower but keeps it pure so it doesn't tamper with originalData.
    // Because of how it will be called, purity doesn't matter.
    //var result = originalData.slice(0)
    return originalShows.map(function(show) {
      var date = new Date(0)
      date.setUTCSeconds(show['time'])
      var weekDay = weekday[date.getDay()]
      var month = monthNames[date.getMonth()]
      var dayOfMonth = date.getDate()
      var year = date.getFullYear()
      var hour = date.getHours() % 12 // Convert from the 24h format.
      var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
      var min = addZero(date.getMinutes());
      var time = hour+":"+min+" "+ampm;
      show['weekDay'] = weekDay
      show['month'] = month
      show['year'] = year
      show['dayOfMonth'] = dayOfMonth
      show['hour'] = hour
      show['ampm'] = ampm
      show['min'] = min
      show['time'] = time
      return show
    })
  }
  

  function callbackShows(response, textStatus, xhr) {
    fullData['shows'] = addDateDataToShows(response['shows'])
    data['shows'] = fullData['shows'].slice(0)
    if ($.isReady) {
      updateShows()
    } else {
      $(function() { updateShows() })
      }
  }


  $.get('shows', callbackShows)

  


  

  var show_html = ""
  function updateShows() {
    show_html = ""
    for (i = 0; i < data["shows"].length; i++) {
      var show = data["shows"][i]
      
      var group = show["group"];
      if(group.search("SOLD OUT") >= 0 || group.search("ticket") >= 0){
        group = "";
      }
      var info = show.hour+":"+show.min+" "+show.ampm+" "+show.weekDay+"<br>"+show.month+" "+show.dayOfMonth+", "+show.year+"<br>"+show["location"]+"<br><b>"+group+"</b>"

      var buy_text = "Buy"
      if(show["sellreq"] > 0)
        buy_text += " <b>("+show["sellreq"]+" Available!)</b>"

      var sell_text = "Sell"
      if(show["buyreq"] > 0)
        sell_text += " <b>("+show["buyreq"]+" Requests!)</b>"

      var buysellbuttons = "<button class='btn btn-primary' data-target='#confirmBuyModal' id='showBuy"+i+"' data-toggle='modal'>"+buy_text+"</button> <button class='btn btn-default' data-target='#confirmSellModal' id='showSell"+i+"' data-toggle='modal'>"+sell_text+"</button>"
      if(netid === "")
      {
        buysellbuttons = "<a href='login'><button class='btn btn-primary' data-target='#confirmBuyModal' id='showBuy"+i+"'>"+buy_text+"</button></a> <a href='login'><button class='btn btn-default' data-target='#confirmSellModal' id='showSell"+i+"'>"+sell_text+"</button></a>";
      }

      var grayurl = "https://s-media-cache-ak0.pinimg.com/236x/51/e7/ec/51e7ec2440ed6cc10ee247825f946846.jpg"
      var imghtml = "<br><img src="+grayurl+" alt='' style = 'height:100px'>"
      if(!(show["image"] === ""))
      	imghtml = "<br><img src="+show["image"]+" alt='' style = 'height:100px'>"

      show_html += "<div class='col-md-3 col-sm-6 hero-feature' id = 'ticketPanel'>"+
      "<div class='thumbnail' style='height:400px'>"+
      imghtml+
      "<div class='caption'>"+
      "<h3>"+show["name"]+"</h3>"+
      "<p>"+info+"</p>"+
      "<p>"+buysellbuttons+
      "</p>"+
      "</div>"+
      "</div>"+
      "</div>"
    }

    $("#ticket-listing").html(show_html)

    for (i = 0; i < data["shows"].length; i++) {
        (function(index) {$("#showBuy" + i).click(function(){
          var btime = data["shows"][index]['time']+" "+data["shows"][index]['weekDay']+"<br>"+data["shows"][index]['month']+" "+data["shows"][index]['dayOfMonth']+", "+data["shows"][index]['year']
          message = "<p><strong>" + data["shows"][index]["name"] + "<br />" + btime + "<br />" + data["shows"][index]["location"] + "</strong>.</p>";
          $("#confirmBuyBody").html(message)
          $("#deleteButtonBuyModal").attr("show-id", data["shows"][index]['id'])
          });
        })(i);
    }
    for (i = 0; i < data["shows"].length; i++) {
        (function(index) {$("#showSell" + i).click(function(){
          var btime = data["shows"][index]['time']+" "+data["shows"][index]['weekDay']+"<br>"+data["shows"][index]['month']+" "+data["shows"][index]['dayOfMonth']+", "+data["shows"][index]['year']
          message = "<p><strong>" + data["shows"][index]["name"] + "<br />" + btime + "<br />" + data["shows"][index]["location"] + "</strong>.</p>";
          $("#confirmSellBody").html(message)
          $("#deleteButtonSellModal").attr("show-id", data["shows"][index]['id'])
          });
        })(i);   
    }
  }


  function putInBuyRequest(element) {
    console.log("you are selling")
    $.ajax({
    url : "/buy",
    type: "POST",
    data: JSON.stringify({show_id: element.getAttribute('show-id')}),
    contentType: "application/json; charset=utf-8",
    dataType   : "json",
    success    : function(data){
      if (data['status'] == "ok") {
        window.location = '/my-tix'
      } else {
        window.alert("There was an error submitting your buy request: " + data['reason'])
      }
    }})
    
  }

  function putInSellRequest(element) {

    console.log("you are buying")
    $.ajax({
    url : "/sell",
    type: "POST",
    data: JSON.stringify({show_id: element.getAttribute('show-id')}),
    contentType: "application/json; charset=utf-8",
    dataType   : "json",
    success    : function(data){
      if (data['status'] == "ok") {
        window.location = '/my-tix'
      } else {
        window.alert("There was an error submitting your sell request: " + data['reason'])
      }
    }})
  }

  var text = "<a id='logout' href='javascript:void(0)'> Logout ("+netid+") </a>"
  if(netid === ""){
    text = "<a href='login'> Login </a>"
  }

  $("#logoutLink").html(text);
  
  $("#logout").click(function(){
    $.post('logout');
  });

  var calendars = {};

    console.info(
        'Welcome to the CLNDR demo. Click around on the calendars and' +
        'the console will log different events that fire.');

    // Assuming you've got the appropriate language files,
    // clndr will respect whatever moment's language is set to.
    // moment.locale('ru');

    // Here's some magic to make sure the dates are happening this month.
    var thisMonth = moment().format('YYYY-MM');
    // Events to load into calendar
    var eventArray = [
        {
            title: 'Multi-Day Event',
            endDate: thisMonth + '-14',
            startDate: thisMonth + '-10'
        }, {
            endDate: thisMonth + '-23',
            startDate: thisMonth + '-21',
            title: 'Another Multi-Day Event'
        }, {
            date: thisMonth + '-27',
            title: 'Single Day Event'
        }
    ];

    // The order of the click handlers is predictable. Direct click action
    // callbacks come first: click, nextMonth, previousMonth, nextYear,
    // previousYear, nextInterval, previousInterval, or today. Then
    // onMonthChange (if the month changed), inIntervalChange if the interval
    // has changed, and finally onYearChange (if the year changed).
    calendars.clndr1 = $('.cal1').clndr({
        events: eventArray,
        clickEvents: {
            click: function (target) {
                console.log('Cal-1 clicked: ', target);
            },
            today: function () {
                console.log('Cal-1 today');
            },
            nextMonth: function () {
                console.log('Cal-1 next month');
            },
            previousMonth: function () {
                console.log('Cal-1 previous month');
            },
            onMonthChange: function () {
                console.log('Cal-1 month changed');
            },
            nextYear: function () {
                console.log('Cal-1 next year');
            },
            previousYear: function () {
                console.log('Cal-1 previous year');
            },
            onYearChange: function () {
                console.log('Cal-1 year changed');
            },
            nextInterval: function () {
                console.log('Cal-1 next interval');
            },
            previousInterval: function () {
                console.log('Cal-1 previous interval');
            },
            onIntervalChange: function () {
                console.log('Cal-1 interval changed');
            }
        },
        multiDayEvents: {
            singleDay: 'date',
            endDate: 'endDate',
            startDate: 'startDate'
        },
        showAdjacentMonths: true,
        adjacentDaysChangeMonth: false
    });

  $(document).ready(function(){
  });
</script>

<style type="text/css">
	@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
h4 {
  width: 75%;
  text-align: center;
  font-family: 'Droid Sans Mono';
  font-weight: normal;
  color: white;
  font-size: 14px;
  margin: 0 auto 1em auto;
  padding: 1em;
  background: #b63642;
}
h5 {
  font-size: 1em;
  font-weight: bold;
}
p {
  text-align: center;
  font-family: 'Droid Sans Mono';
  margin: 3em auto 1em auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #414141;
  background: #f4f4f4;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.cal1 {
  margin: 30px auto;
  max-width: 600px;
  font-family: 'Droid Sans Mono';
  font-size: 14px;
}
.cal1 .clndr .clndr-controls {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.cal1 .clndr .clndr-controls .month {
  float: left;
  width: 33%;
  text-align: center;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 33%;
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: right;
  width: 34%;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.cal1 .clndr .clndr-table .header-days {
  height: 30px;
  font-size: 10px;
  background: #0D70A6;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  color: #fff;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 1px solid #000000;
}
.cal1 .clndr .clndr-table tr {
  height: 85px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 100%;
  height: inherit;
}
.cal1 .clndr .clndr-table tr .day:hover {
  background: #eee;
}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
  background: #9AD6E3;
}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {
  background: #72c6d8;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
  background: #a7dbc1;
}
.cal1 .clndr .clndr-table tr .day.event,
.cal1 .clndr .clndr-table tr .day.my-event {
  background: #B4E09F;
}
.cal1 .clndr .clndr-table tr .day.event:hover,
.cal1 .clndr .clndr-table tr .day.my-event:hover {
  background: #96d478;
}
.cal1 .clndr .clndr-table tr .day.inactive,
.cal1 .clndr .clndr-table tr .day.my-inactive {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .day:last-child {
  border-right: 1px solid #000000;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: right;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 100%;
  height: inherit;
  background: #eee;
}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover,
.cal1 .clndr .clndr-table tr .my-empty:hover,
.cal1 .clndr .clndr-table tr .my-adjacent-month:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child,
.cal1 .clndr .clndr-table tr .my-empty:last-child,
.cal1 .clndr .clndr-table tr .my-adjacent-month:last-child {
  border-right: 1px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .day,
.cal1 .clndr .clndr-table tr:last-child .my-day {
  border-bottom: 1px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .empty,
.cal1 .clndr .clndr-table tr:last-child .my-empty {
  border-bottom: 1px solid #000000;
}
</style>