<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TigerTickets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="my-tix">My Tickets</a>
        </li>
        <li class="navbar-FAQ">
          <a href="#" style="color:white">FAQ</a>
        </li>
        <li id="logoutLink">
          <a href="" id="logout">Logout</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- FAQ Page Content -->
  <div class="container">

    <div id = 'faq'>
		<br>

        <h3>Welcome to <strong>Tiger Tickets</strong> - a ticket exchange app for Princeton students to help ensure that the greatest number of students attend the greatest number of shows. You'll be instantly notified via email when there are other students available to complete your request.</h3>

        <h3> </h3>
		<hr>

		<center><img class="fit" src="<%= asset_path('ticket-buy-requests-text.png') %>" style="width:800px;"></center>

		<hr>
		<h2>
			How do I buy a ticket?
		</h2>
		<h4>
			Search for the ticket you wish to buy on the front page and click the corresponding button. If there are already sellers, it will say the number of available tickets!
		</h4>
		<h2>
			How do I sell a ticket?
		</h2>
		<h4>
			Search for the ticket you wish to sell on the front page and click the corresponding button. If there are already buyers, it will say the number of buyers.
		</h4>
		<h2>
			How do I get matched with a buyer/seller?
		</h2>
		<h4>
			If another seller/buyer posts a request on our website for the same ticket, an email will be sent to all buyers and sellers! The physical exchange of money and the ticket is up to you.
		</h4>
		<h2>
			Can I use Tiger Tickets to purchase tickets from Frist?
		</h2>
		<h4>
			We are not affiliated with the Frist Ticketing Office -- to officially buy tickets for a show, visit the <a href="https://tickets.princeton.edu/online/default.asp" target="_blank"> Frist Ticketing Webpage </a> or the Ticketing Office in Frist. We are working on posting a direct link to the online order form for each ticket. Stay tuned.
		</h4>
		<h2>
			I have a suggestion to make the website better -- how do I send feedback?
		</h2>
		<h4>
			Go to the homepage and find the feedback button floating on the right-hand side of the page. We'd love to hear from you!
		</h4>
		<h2>
			Who made Tiger Tickets?
		</h2>
		<h4>
			Tiger Tickets is the brain-child of Henry Birge-Lee, Richard Du, Evelyn Karis, Alex Lam, and Jason Shi, five undergraduate students who were tired of people spamming listservs to exchange tickets for sold-out shows. This website was made as a final project for COS 333 under the wonderful supervision of Jonathan Balkind, the greatest grad student at Princeton. Special acknowledgements go to Sharon Zhang and Ananya Joshi for help with the aesthetic vision of the website, Julian Castellon for the logo design, and to Carley Stamps and Amber Lin for critical feedback on the logistics of ticket transaction.
		</h4>
		<hr>
	</div>

    <!-- Page Features -->
    <div class="row text-center">
		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; TigerTickets 2017</p>
			</div>
		</div>
		</footer>
    </div>

</body>

<%= javascript_include_tag "faq" %>

<%= stylesheet_link_tag "faq" %>