  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="border-bottom: 5px solid orange;bottom: 0;width: 100px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color:white;">TigerTickets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="my-tix">My Tickets</a>
        </li>
        <li>
          <a href="" id = "logout">Logout</a>
        </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3>Current Shows</h3>
      </div>
    </div>

    <hr>

    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center", id="ticket-listing">

      <!-- /.row -->
      <hr>

      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; TigerTickets 2017</p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->

    <!-- Buy Modal -->
    <div id="confirmBuyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="buyConfirm" aria-hidden="true">

      <!-- Modal content -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
              <h1>Confirm Ticket Buy Request?</h1>
              <p> You are about to confirm your buy request for:</p>
              <p id="confirmBuyBody">ya done goof'd</p>
              <p>Do you want to proceed?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id = "deleteButtonBuyModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInBuyRequest(this)">Confirm</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sell Modal -->
    <div id="confirmSellModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="sellConfirm" aria-hidden="true">

      <!-- Modal content -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
            <h1>Confirm Ticket Sell Request?</h1>
            <p> You are about to confirm your sell request for:</p>
            <p id="confirmSellBody">ya done goof'd</p>
            <p>Do you want to proceed?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id = "deleteButtonSellModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInSellRequest(this)">Confirm</a>
          </div>
        </div>
      </div>
    </div>

<script>
  var data = { "shows" : [] }
  $.get('shows', function(response) { 
  data = response
  if ($.isReady) {
    updateShows()
  } else {
    $(function() { updateShows() })
    }
  })

  var weekday = new Array(7);
  weekday[0] =  "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";

  var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
  
  function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
  }
  var show_html = ""
  function updateShows() {
    show_html = ""
    for (i = 0; i < data["shows"].length; i++) {
      var show = data["shows"][i]
      var date = new Date(0)
      date.setUTCSeconds(show['time'])
      var weekDay = weekday[date.getDay()]
      var month = monthNames[date.getMonth()]
      var dayOfMonth = date.getDate()
      var year = date.getFullYear()
      var hour = date.getHours() % 12 // Convert from the 24h format.
      var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
      var min = addZero(date.getMinutes());
      var time = hour+":"+min+" "+ampm;
      var group = show["group"];
      if(group.search("SOLD OUT") >= 0){
        group = "";
      }
      var info = hour+":"+min+" "+ampm+" "+weekDay+"<br>"+month+" "+dayOfMonth+", "+year+"<br>"+show["location"]+"<br><b>"+group+"</b>"

      var buy_text = "Buy"
      if(show["sellreq"] > 0)
        buy_text += " <b>("+show["sellreq"]+" Available!)</b>"

      var sell_text = "Sell"
      if(data["shows"][i]["BuyReq"] > 0)
        sell_text += " <b>("+show["buyreq"]+" Requests!)</b>"

      show_html += "<div class='col-md-3 col-sm-6 hero-feature' id = 'ticketPanel'>"+
      "<div class='thumbnail' style='height:400px'>"+
      "<br><img src="+show["image"]+" alt='' style = 'height:100px'>"+
      "<div class='caption'>"+
      "<h3>"+show["name"]+"</h3>"+
      "<p>"+info+"</p>"+
      "<p>"+
      "<button class='btn btn-primary' data-target='#confirmBuyModal' id='showBuy"+i+"' data-toggle='modal'>"+buy_text+"</button> <button class='btn btn-default' data-target='#confirmSellModal' id='showSell"+i+"' data-toggle='modal'>"+sell_text+"</button>"+
      "</p>"+
      "</div>"+
      "</div>"+
      "</div>"
    }

    $("#ticket-listing").html(show_html)

    for (i = 0; i < data["shows"].length; i++) {
        (function(index) {$("#showBuy" + i).click(function(){
          var date = new Date(0)
          date.setUTCSeconds(data["shows"][index]['time'])
          var weekDay = weekday[date.getDay()]
          var month = monthNames[date.getMonth()]
          var dayOfMonth = date.getDate()
          var year = date.getFullYear()
          showDate = weekDay+", "+month+" "+dayOfMonth+", "+year
          var hour = date.getHours() % 12 // Convert from the 24h format.
          var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
          var min = addZero(date.getMinutes());
          showTime = hour+":"+min+" "+ampm;
          message = "<p><strong>" + data["shows"][index]["name"] + "<br />" + showDate + " " + time + "<br />" + data["shows"][index]["location"] + "</strong>.</p>";
          $("#confirmBuyBody").html(message)
          $("#deleteButtonBuyModal").attr("show-id", data["shows"][index]['id'])
          });
        })(i);   
    }
    for (i = 0; i < data["shows"].length; i++) {
        (function(index) {$("#showSell" + i).click(function(){
          var date = new Date(0)
          date.setUTCSeconds(data["shows"][index]['time'])
          var weekDay = weekday[date.getDay()]
          var month = monthNames[date.getMonth()]
          var dayOfMonth = date.getDate()
          var year = date.getFullYear()
          showDate = weekDay+", "+month+" "+dayOfMonth+", "+year
          var hour = date.getHours() % 12 // Convert from the 24h format.
          var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
          var min = addZero(date.getMinutes());
          showTime = hour+":"+min+" "+ampm;
          message = "<p><strong>" + data["shows"][index]["name"] + "<br />" + showDate + " " + time + "<br />" + data["shows"][index]["location"] + "</strong>.</p>";
          $("#confirmSellBody").html(message)
          $("#deleteButtonSellModal").attr("show-id", data["shows"][index]['id'])
          });
        })(i);   
    }
  }


  function putInBuyRequest(element) {
    console.log("you are selling")
    $.ajax({
    url : "/buy",
    type: "POST",
    data: JSON.stringify({show_id: element.getAttribute('show-id')}),
    contentType: "application/json; charset=utf-8",
    dataType   : "json",
    success    : function(data){
      if (data['status'] == "ok") {
        window.location = '/my-tix'
      } else {
        window.alert("There was an error submitting your buy request: " + data['reason'])
      }
    }})
    
  }

  function putInSellRequest(element) {

    console.log("you are buying")
    $.ajax({
    url : "/sell",
    type: "POST",
    data: JSON.stringify({show_id: element.getAttribute('show-id')}),
    contentType: "application/json; charset=utf-8",
    dataType   : "json",
    success    : function(data){
      if (data['status'] == "ok") {
        window.location = '/my-tix'
      } else {
        window.alert("There was an error submitting your sell request: " + data['reason'])
      }
    }})
  }

  $("#logout").click(function(){
    $.post('logout');
  });
  
  $(document).ready(function(){

  });
</script>