  <!-- Navigation -->
  <body>

<center><img class="fit" src="http://i.imgur.com/EAUZARe.jpg"></center>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TigerTickets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="my-tix">My Tickets</a>
        </li>
         <li>
          <a href="faq">FAQ</a>
        </li>
        <li id="logoutLink">
          <a href="" id="logout">Logout</a>
        </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!--<div align = "center">
        <img src="https://i.imgur.com/RrB21R4.jpg" height="350">
      </div>-->

    <br />

    <form onsubmit="return false" autocomplete="Off">
            <input type="text" class="form-control search-input" placeholder="Search for a show..." name="srch-term" id="show-search-bar" />
            <br />
             
    </form>

    <div class="row text-center", id="hot-tickets">
    </div>

    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center", id="ticket-listing">
      <!-- /.row -->
      <hr>

      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; TigerTickets 2017</p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->

    <!-- Buy Modal -->
    <div id="confirmBuyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="buyConfirm" aria-hidden="true">

      <!-- Modal content -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
              <h5 id="confirmBuyBody">Error loading show information.</h5>
              <h5>Do you want to proceed?</h5>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id = "deleteButtonBuyModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInBuyRequest(this)">Confirm</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sell Modal -->
    <div id="confirmSellModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="sellConfirm" aria-hidden="true">

      <!-- Modal content -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
            <h2>Confirm Ticket Sell Request?</h2>
            <h5> You are about to confirm your sell request for:</h5>
            <h5 id="confirmSellBody">Error loading show information.</h5>
            <h5>Do you want to proceed?</h5>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id = "deleteButtonSellModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInSellRequest(this)">Confirm</a>
          </div>
        </div>
      </div>
    </div>
          
  <div id="feedback-main" class="modal">
    <div id="feedback-div">
      <span class="close closefeedback" onclick="toggle_visibility()">&times;</span>
      <form method="post" class="form" id="feedback-form1" name="form1" enctype="multipart/form-data" action="javascript:void(0);">

        <p class="name">
          <input name="name" type="name" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" required placeholder="Name" id="feedback-name" />
        </p>

        <p class="email">
          <input name="email" type="email"       class="validate[required,custom[email]] feedback-input" id="feedback-email" placeholder="Email" required />
        </p>

        <p class="text">
          <textarea name="comment" type="comment" class="validate[required,length[6,300]] feedback-input" id="feedback-comment" required placeholder="How can we do better?"></textarea>
        </p>

        <div class="feedback-submit">
          <input type="submit" value="SEND" id="feedback-button-blue" onclick="submitFeedback(this)"/>
          <div class="feedback-ease"></div>
        </div>
      </form>
    </div>
  </div>
      
  <button id="popup" class="feedback-button" onclick="toggle_visibility()">Feedback</button>
</body>


<%= javascript_include_tag "index" %>

<%= stylesheet_link_tag params[:controller] %>