  <!-- Navigation -->
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="border-bottom: 5px solid orange;bottom: 0;width: 100px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color:white;">TigerTickets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="my-tix">My Tickets</a>
        </li>
         <li>
          <a href="calendar">FAQ</a>
        </li>
        <li id="logoutLink">
          <a href="" id="logout">Logout</a>
        </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!--<div align = "center">
        <img src="https://i.imgur.com/RrB21R4.jpg" height="350">
      </div>-->

    <br />

    <form onsubmit="return false" autocomplete="Off">
            <input type="text" class="form-control search-input" placeholder="Search..." name="srch-term" id="show-search-bar" />
            <br />
             
    </form>

    <div class="row text-center", id="hot-tickets">
    </div>

    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center", id="ticket-listing">
      <!-- /.row -->
      <hr>

      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; TigerTickets 2017</p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->

    <!-- Buy Modal -->
    <div id="confirmBuyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="buyConfirm" aria-hidden="true">

      <!-- Modal content -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
              <h1>Confirm Ticket Buy Request?</h1>
              <p> You are about to confirm your buy request for:</p>
              <p id="confirmBuyBody">ya done goof'd</p>
              <p>Do you want to proceed?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id = "deleteButtonBuyModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInBuyRequest(this)">Confirm</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sell Modal -->
    <div id="confirmSellModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="sellConfirm" aria-hidden="true">

      <!-- Modal content -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
            <h1>Confirm Ticket Sell Request?</h1>
            <p> You are about to confirm your sell request for:</p>
            <p id="confirmSellBody">ya done goof'd</p>
            <p>Do you want to proceed?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id = "deleteButtonSellModal" class="btn btn-success btn-ok" data-dismiss="modal" onclick="putInSellRequest(this)">Confirm</a>
          </div>
        </div>
      </div>
    </div>
</body>

<script>

  var netid = "<%= session[:cas_user] %>"
  var data = { "shows" : [] }
  var fullData = { "shows" : [] }
  
  function genFilteringPredicate(searchTerm) {
    search = searchTerm.toLowerCase()
    keywords = search.split(' ')
      return function(show) {
        return keywords.every(function(keyword) {
          return show['group'].toLowerCase().includes(keyword)
           || show['location'].toLowerCase().includes(keyword)
           || show['name'].toLowerCase().includes(keyword)
           || show['weekDay'].toLowerCase().includes(keyword)
           || show['month'].toLowerCase().includes(keyword)
           || show['dayOfMonth'].toString().toLowerCase().includes(keyword)
           || show['hour'].toString().toLowerCase().includes(keyword)
           || show['ampm'].toLowerCase().includes(keyword)
           || show['min'].toString().toLowerCase().includes(keyword)
           || show['time'].toLowerCase().includes(keyword)

        })
    }
  }

  $('#show-search-bar').on('input', function(event) {
    var searchTerm = $('#show-search-bar').val()
    if (searchTerm === "") {
      data['shows'] = fullData['shows']
      updateShows()
      return
    }
    data['shows'] = fullData['shows'].filter(genFilteringPredicate(searchTerm))
    updateShows()

  })

  var weekday = new Array(7);
  weekday[0] =  "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";

  var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];

  function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
  }
  
  function addDateDataToShows(originalShows) {
    // This code makes the function slower but keeps it pure so it doesn't tamper with originalData.
    // Because of how it will be called, purity doesn't matter.
    //var result = originalData.slice(0)
    return originalShows.map(function(show) {
      var date = new Date(0)
      date.setUTCSeconds(show['time'])
      var weekDay = weekday[date.getDay()]
      var month = monthNames[date.getMonth()]
      var dayOfMonth = date.getDate()
      var year = date.getFullYear()
      var hour = date.getHours() % 12 // Convert from the 24h format.
      var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
      var min = addZero(date.getMinutes());
      var time = hour+":"+min+" "+ampm;
      show['weekDay'] = weekDay
      show['month'] = month
      show['year'] = year
      show['dayOfMonth'] = dayOfMonth
      show['hour'] = hour
      show['ampm'] = ampm
      show['min'] = min
      show['time'] = time
      return show
    })
  }
  

  function callbackShows(response, textStatus, xhr) {
    fullData['shows'] = addDateDataToShows(response['shows'])
    data['shows'] = fullData['shows'].slice(0)
    if ($.isReady) {
      updateShows()
    } else {
      $(function() { updateShows() })
      }
  }


  $.get('shows', callbackShows)

  


  

  var show_html = ""
  var hot_html = ""
  function updateShows() {
    show_html = ""
    hot_html = ""
    for (i = 0; i < data["shows"].length; i++) {
      var show = data["shows"][i]
      
      var group = show["group"];
      if(group.search("SOLD OUT") >= 0 || group.search("ticket") >= 0){
        group = "";
      }
      var info = show.hour+":"+show.min+" "+show.ampm+" "+show.weekDay+"<br>"+show.month+" "+show.dayOfMonth+", "+show.year+"<br>"+show["location"]+"<br><b>"+group+"</b>"

      var buy_text = "Buy"
      if (show["sellreq"] == 1)
        buy_text += " <b>("+show["sellreq"]+" Seller!)</b>"
      else if(show["sellreq"] > 1)
        buy_text += " <b>("+show["sellreq"]+" Sellers!)</b>"

      var sell_text = "Sell"
      if(show["buyreq"] == 1)
        sell_text += " <b>("+show["buyreq"]+" Buyer!)</b>"
      if(show["buyreq"] > 1)
        sell_text += " <b>("+show["buyreq"]+" Buyers!)</b>"

      var buysellbuttons = "<button class='btn btn-primary' data-target='#confirmBuyModal' id='showBuy"+i+"' data-toggle='modal'>"+buy_text+"</button> <button class='btn btn-default' data-target='#confirmSellModal' id='showSell"+i+"' data-toggle='modal'>"+sell_text+"</button>"
      if(netid === "")
      {
        buysellbuttons = "<a href='login'><button class='btn btn-primary' data-target='#confirmBuyModal' id='showBuy"+i+"'>"+buy_text+"</button></a> <a href='login'><button class='btn btn-default' data-target='#confirmSellModal' id='showSell"+i+"'>"+sell_text+"</button></a>";
      }

      var grayurl = "https://cdn.evbuc.com/eventlogos/298207/1478813947tickets.png"
      var imghtml = "<br><img src="+grayurl+" alt='' style = 'height:100px'>"
      if(!(show["image"] === ""))
      	imghtml = "<br><img src="+show["image"]+" alt='' style = 'height:100px'>"

      html = "<div class='col-md-3 col-sm-6 hero-feature' id = 'ticketPanel'>"+
      "<div class='panel' style='height:400px'>"+
      imghtml+
      "<div class='caption'>"+
      "<h3>"+show["name"]+"</h3>"+
      "<p>"+info+"</p>"+
      "<p>"+buysellbuttons+
      "</p>"+
      "</div>"+
      "</div>"+
      "</div>"
      show_html += html
      if(show["buyreq"] > 0 || show["sellreq"] > 0){
        hot_html += html
      }
    }

    hot_html = "<h1><strong>HOT SHOWS</strong></h1><hr>" + hot_html

    show_html = "<h1><strong>CURRENT SHOWS</strong></h1><hr>" + show_html

    $("#ticket-listing").html(show_html)
    $("#hot-tickets").html(hot_html)



    for (i = 0; i < data["shows"].length; i++) {
        (function(index) {$("#showBuy" + i).click(function(){
          var btime = data["shows"][index]['time']+" "+data["shows"][index]['weekDay']+"<br>"+data["shows"][index]['month']+" "+data["shows"][index]['dayOfMonth']+", "+data["shows"][index]['year']
          message = "<p><strong>" + data["shows"][index]["name"] + "<br />" + btime + "<br />" + data["shows"][index]["location"] + "</strong>.</p>";
          $("#confirmBuyBody").html(message)
          $("#deleteButtonBuyModal").attr("show-id", data["shows"][index]['id'])
          });
        })(i);
    }
    for (i = 0; i < data["shows"].length; i++) {
        (function(index) {$("#showSell" + i).click(function(){
          var btime = data["shows"][index]['time']+" "+data["shows"][index]['weekDay']+"<br>"+data["shows"][index]['month']+" "+data["shows"][index]['dayOfMonth']+", "+data["shows"][index]['year']
          message = "<p><strong>" + data["shows"][index]["name"] + "<br />" + btime + "<br />" + data["shows"][index]["location"] + "</strong>.</p>";
          $("#confirmSellBody").html(message)
          $("#deleteButtonSellModal").attr("show-id", data["shows"][index]['id'])
          });
        })(i);   
    }
  }


  function putInBuyRequest(element) {
    console.log("you are selling")
    $.ajax({
    url : "/buy",
    type: "POST",
    data: JSON.stringify({show_id: element.getAttribute('show-id')}),
    contentType: "application/json; charset=utf-8",
    dataType   : "json",
    success    : function(data){
      if (data['status'] == "ok") {
        window.location = '/my-tix'
      } else {
        window.alert("There was an error submitting your buy request: " + data['reason'])
      }
    }})
    
  }

  function putInSellRequest(element) {

    console.log("you are buying")
    $.ajax({
    url : "/sell",
    type: "POST",
    data: JSON.stringify({show_id: element.getAttribute('show-id')}),
    contentType: "application/json; charset=utf-8",
    dataType   : "json",
    success    : function(data){
      if (data['status'] == "ok") {
        window.location = '/my-tix'
      } else {
        window.alert("There was an error submitting your sell request: " + data['reason'])
      }
    }})
  }

  var text = "<a id='logout' href='javascript:void(0)'> Logout ("+netid+") </a>"
  if(netid === ""){
    text = "<a href='login'> Login </a>"
  }

  $("#logoutLink").html(text);
  
  $("#logout").click(function(){
    $.post('logout');
  });

  $(document).ready(function(){
  });
</script>

<style>

body {
  background-color: white;  
}
.search-input{
       background-color: #fbb637; 
       border: 2px solid #fff; 
       box-shadow: none; 
       border-radius: 50px;
       color: rgb(255,246,207);
}

.search-input ::-webkit-input-placeholder, .search-input :-moz-placeholder, .search-input ::-moz-placeholder, .search-input :-ms-input-placeholder { {
       color: #fff;
       font-weight: bold;
          }
}

.panel {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

h3 {
  color: black;
}
</style>