<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TigerTickets</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li style="border-bottom: 5px solid orange;bottom: 0;width: 100px;">
                    <a href="#" style="color:white">My Tickets</a>
                </li>
                <li id = "logoutLink">
                    <a href="" id = "logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Features -->
    <div class="row text-center", id="profile-page">

        <!-- /.row -->

        <hr>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TigerTickets 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- Delete Sell Request Modal -->
    <div id="confirm-sell-delete" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1>Delete Ticket Sell Request?</h1>
                    <p> You are about to delete your ticket sell request for: </p>
                    <p id="deletionSellBody">An error ocurred in displaying the show name.</p>
                    <p> This procedure is irreversible.</p>
                    <p><strong>Do you want to proceed?</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id = "deleteSellButton" class="btn btn-danger btn-ok" data-dismiss="modal" onclick="deleteSellRequest(this)">Delete</a>
                </div>
            </div>
        </div>

    </div>

    <!-- Delete Buy Request Modal -->
    <div id="confirm-buy-delete" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1>Delete Ticket Buy Request?</h1>
                    <p> You are about to delete your ticket buy request for: </p>
                    <p id="deletionBuyBody">An error ocurred in displaying the show name.</p>
                    <p> This procedure is irreversible.</p>
                    <p><strong>Do you want to proceed?</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id = "deleteBuyButton" class="btn btn-danger btn-ok" data-dismiss="modal" onclick="deleteBuyRequest(this)">Delete</a>
                </div>
            </div>
        </div>

    </div>

    <script>
<!-- Generate Buy Data -->
    var allData = {"requests" : [] }
    var netid = ""
    $.get('my-tix-data', function(response) { 
        allData = response

        netid = response["netid"]

        formatLogoutButton()

        if ($.isReady) {
          updateRequests()
        } else {
          $(function() { updateRequests() })
        }
    })

    function addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
    var weekday = new Array(7);
      weekday[0] =  "Sunday";
      weekday[1] = "Monday";
      weekday[2] = "Tuesday";
      weekday[3] = "Wednesday";
      weekday[4] = "Thursday";
      weekday[5] = "Friday";
      weekday[6] = "Saturday";
      var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ];
    var buyRequests_html = ""
    var sellRequests_html = ""

    function formatLogoutButton() {
        var text = "<a id='logout' href='javascript:void(0)'> Logout ("+netid+") </a>"
        $("#logoutLink").html(text);
        $("#logout").click(function(){
            $.post('logout');
        });
    }

    function updateRequests() {
        buyRequests_html = ""
        sellRequests_html = ""
        for (i = allData["buyrequests"].length-1; i >= 0; i--) {
            var buyRequestStatus = allData["buyrequests"][i]["status"]
            var show = allData["buyrequests"][i]["show"]
            var date = new Date(0)
            date.setUTCSeconds(show['time'])
            var weekDay = weekday[date.getDay()]
            var month = monthNames[date.getMonth()]
            var dayOfMonth = date.getDate()
            var year = date.getFullYear()
            var hour = date.getHours() % 12 // Convert from the 24h format.
            var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
            var min = addZero(date.getMinutes());
            var time = hour+":"+min+" "+ampm;
            var btime = hour+":"+min+" "+ampm+" "+weekDay+"<br>"+month+" "+dayOfMonth+", "+year
            var bloc = show["location"]
            var bgroup = show["group"]
            if(bgroup.search("SOLD OUT") >= 0){
                bgroup = "";
            }
            
            var grayurl = "https://s-media-cache-ak0.pinimg.com/236x/51/e7/ec/51e7ec2440ed6cc10ee247825f946846.jpg"
            var imghtml = "<img class = 'center-block' src="+grayurl+" alt='' style='height:150px'>"
            if(!(show["image"] === ""))
                imghtml = "<img class = 'center-block' src="+show["image"]+" alt='' style='height:150px'>"

            var deletehtml = "<div class='col-md-2' style='color:green'>Completed</div>"
            
            if(!(buyRequestStatus === "completed")){
                deletehtml = "<div class='col-md-2'>"+
                        "<button class='btn btn-primary' data-target='#confirm-buy-delete' data-toggle='modal' id = 'deleteBuying"+i+"'>Delete <span class='glyphicon'></span></button>"+
                    "</div>"
            }

            buyRequests_html += "<div class='row' id='buying"+i+"'>"+
                    "<div class='col-md-2'>"+
                        "<a href='#'>" +
                            imghtml +
                        "</a>"+
                    "</div>"+
                    "<div class='col-md-3'>"+
                        "<h3>"+show["name"]+"</h3>"+
                    "</div>"+
                    "<div class='col-md-5'>"+
                        "<h4>"+btime+"</h4>"+
                        "<h4>"+bloc+"</h4>"+
                        "<h4>"+bgroup+"</h4>"+
                    "</div>"+
                    deletehtml+
                "</div>"+
            "<hr>"
            
        }
        if (allData["buyrequests"].length == 0) {
            buyRequests_html = "<p>No current buy requests.</p>"
        }
        $("#buy-requests-html-span").html(buyRequests_html)

        for (i = allData["sellrequests"].length-1; i >= 0; i--) {
            var sellRequestStatus = allData["sellrequests"][i]["status"]
            show = allData["sellrequests"][i]["show"]
            var date = new Date(0)
            date.setUTCSeconds(show['time'])
            var weekDay = weekday[date.getDay()]
            var month = monthNames[date.getMonth()]
            var dayOfMonth = date.getDate()
            var year = date.getFullYear()
            var hour = date.getHours() % 12 // Convert from the 24h format.
            var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
            var min = addZero(date.getMinutes());
            var time = hour+":"+min+" "+ampm;
            var btime = hour+":"+min+" "+ampm+" "+weekDay+"<br>"+month+" "+dayOfMonth+", "+year
            var sbloc = show["location"]
            var sgroup = show["group"]
            if(sgroup.search("SOLD OUT") >= 0){
                sgroup = "";
            }

            var grayurl = "https://s-media-cache-ak0.pinimg.com/236x/51/e7/ec/51e7ec2440ed6cc10ee247825f946846.jpg"
            var imghtml = "<img class = 'center-block' src="+grayurl+" alt='' style='height:150px'>"
            if(!(show["image"] === ""))
                imghtml = "<img class = 'center-block' src="+show["image"]+" alt='' style='height:150px'>"

            var deletehtml = "<div class='col-md-2' style = 'color:green;'>Completed</div>"

            if(!(sellRequestStatus === "completed")){
                deletehtml = "<div class='col-md-2'>"+
                "<button class='btn btn-primary' data-target='#confirm-sell-delete' data-toggle='modal' id = 'deleteSelling"+i+"'>Delete <span class='glyphicon'></span></button>"+
                "</div>"
            }

            sellRequests_html += "<div class='row' id='selling"+i+"'>"+
                    "<div class='col-md-2'>"+
                        "<a href='#'>" +
                            imghtml+
                        "</a>"+
                    "</div>"+
                    "<div class='col-md-3'>"+
                        "<h3>"+show["name"]+"</h3>"+
                    "</div>"+
                    "<div class='col-md-5'>"+
                        "<h4>"+btime+"</h4>"+
                        "<h4>"+sbloc+"</h4>"+
                        "<h4>"+sgroup+"</h4>"+
                    "</div>"+
                    deletehtml+
                "</div>"+
            "<hr>"
        }
        if (allData["sellrequests"].length == 0) {
            sellRequests_html = "<p>No current sell requests.</p>"
        }
        $("#sell-requests-html-span").html(sellRequests_html)

        profile = "<div class='row text-left'>"+
                "<div class='col-lg-12'>"+
                    "<h3>Ticket Buy Requests</h3>"+
                "</div>"+
            "</div>"+
            "<hr>"+
            "<span id='buy-requests-html-span'>" +
            buyRequests_html +
            "</span>" +
            "<div class='row text-left'>"+
                "<div class='col-lg-12'>"+
                    "<h3>Ticket Sell Requests</h3>"+
                "</div>"+
            "</div>"+
            "<hr>"+
            "<span id='sell-requests-html-span'>" +
            sellRequests_html +
            "</span>"
        deletionId = 0

            
        $(document).ready(function(){
            $("#profile-page").html(profile)

            for (i = 0; i < allData["sellrequests"].length; i++) {
                (function(index) {$("#deleteSelling" + i).click(function(){
                    deleteSellId = "selling" + index
                    show = allData["sellrequests"][index]["show"]
                    var date = new Date(0)
                    date.setUTCSeconds(show['time'])
                    var weekDay = weekday[date.getDay()]
                    var month = monthNames[date.getMonth()]
                    var dayOfMonth = date.getDate()
                    var year = date.getFullYear()
                    var hour = date.getHours() % 12 // Convert from the 24h format.
                    var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
                    var min = addZero(date.getMinutes());
                    var time = hour+":"+min+" "+ampm;
                    var btime = hour+":"+min+" "+ampm+" "+weekDay+"<br>"+month+" "+dayOfMonth+", "+year
                    message = "<p><strong>" + show["name"] + "<br />" + btime + "<br />" + show["location"] + "</strong>.</p>";
                    $("#deletionSellBody").html(message);
                    console.log(show["id"])
                    $("#deleteSellButton").attr("show-id", allData["sellrequests"][index]["id"]);
                    });
                })(i);
            }

            for (i = 0; i < allData["buyrequests"].length; i++) {
                (function(index) {$("#deleteBuying" + i).click(function(){
                    deleteBuyId = "buying" + index
                    show = allData["buyrequests"][index]["show"]
                    var date = new Date(0)
                    date.setUTCSeconds(show['time'])
                    var weekDay = weekday[date.getDay()]
                    var month = monthNames[date.getMonth()]
                    var dayOfMonth = date.getDate()
                    var year = date.getFullYear()
                    var hour = date.getHours() % 12 // Convert from the 24h format.
                    var ampm = Math.floor(date.getHours() / 12) == 0 ? 'AM' : 'PM'
                    var min = addZero(date.getMinutes());
                    var time = hour+":"+min+" "+ampm;
                    var btime = hour+":"+min+" "+ampm+" "+weekDay+"<br>"+month+" "+dayOfMonth+", "+year
                    message = "<p><strong>" + show["name"] + "<br />" + btime + "<br />" + show["location"] + "</strong>.</p>";
                    $("#deletionBuyBody").html(message)    
                    $("#deleteBuyButton").attr("show-id", allData["buyrequests"][index]["id"]);
                    });
                })(i);
            }
        });
    }

    function deleteSellRequest(element) {
        console.log("you are cancelling a sell request")
        $.ajax({
            url : "/cancel-sell",
            type: "POST",
            data: JSON.stringify({sell_request_id: element.getAttribute('show-id')}),
            contentType: "application/json; charset=utf-8",
            dataType   : "json",
            success    : function(data){
                if (data['status']=="ok") {
                    window.location = '/my-tix'
                }
                else {
                    window.alert("There was an error cancelling your sell request: " + data['reason'])
                }
            }
        })
        $("#" + deleteSellId).replaceWith("<p>Request deleted.</p>")
    }

    function deleteBuyRequest(element) {
        console.log("you are cancelling a buy request")
        $.ajax({
            url : "/cancel-buy",
            type: "POST",
            data: JSON.stringify({buy_request_id: element.getAttribute('show-id')}),
            contentType: "application/json; charset=utf-8",
            dataType   : "json",
            success    : function(data){
                if (data['status']=="ok") {
                    window.location = '/my-tix'
                }
                else {
                    window.alert("There was an error cancelling your buy request: " + data['reason'])
                }
            }
        })
        $("#" + deleteBuyId).replaceWith("<p>Request deleted.</p>")
    }


    $(document).ready(function(){
    });
    
    
</script>