<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TigerTickets</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">            
                <li class="navbar-mytix">
                    <a href="#" style="color:white">My Tickets</a>
                </li>
                <li>
                  <a href="faq">FAQ</a>
                </li>
                <li id = "logoutLink">
                    <a href="" id = "logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Profile Page -->
    <div class="row text-center", id="profile-page">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TigerTickets 2017</p>
                </div>
            </div>
        </footer>

    </div>

    <!-- DELETE SELL Request Modal -->
    <div id="confirm-sell-delete" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1 class="tiger-tix-modal-header" >Delete Ticket Sell Request?</h1>
                    <p> You are about to delete your ticket sell request for: </p>
                    </br>
                    <!-- Individual Show Information -->
                    <p id="deletionSellBody">An error ocurred in displaying the show name.</p>
                    </br>
                    <p> This procedure is irreversible.</p>
                    </br>
                    <p><strong>Do you want to proceed?</strong></p>
                </div>
                <div class="modal-footer">
                    <!-- Cancel Button -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <!-- Confirm Button -->
                    <a id = "deleteSellButton" class="btn btn-danger btn-ok" data-dismiss="modal" onclick="deleteSellRequest(this)">Delete</a>
                </div>
            </div>
        </div>

    </div>

    <!-- DELETE BUY Request Modal -->
    <div id="confirm-buy-delete" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1 class="tiger-tix-modal-header" >Delete Ticket Buy Request?</h1>
                    <p> You are about to delete your ticket buy request for: </p>
                    </br>
                    <!-- Individual Show Information -->
                    <p id="deletionBuyBody">An error ocurred in displaying the show name.</p>
                    </br>
                    <p> This procedure is irreversible.</p>
                    </br>
                    <p><strong>Do you want to proceed?</strong></p>
                </div>
                <div class="modal-footer">
                    <!-- Cancel Button -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <!-- Confirm Button -->
                    <a id = "deleteBuyButton" class="btn btn-danger btn-ok" data-dismiss="modal" onclick="deleteBuyRequest(this)">Delete</a>
                </div>
            </div>
        </div>

    </div>

    <!-- VIEW SELLERS Modal -->
    <div id="view-sellers" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1 class="tiger-tix-modal-header" >Active Sellers</h1>
                    <!-- Individual Show Information -->
                    <p id="view-sellers-body">An error ocurred in displaying the show name.</p>
                    <br>
                    <p id="view-sellers-list">An error ocurred in displaying the sellers list.</p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- CONFIRM COMPLETED SELL Request Modal -->
    <div id="confirm-sell-confirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1 class="tiger-tix-modal-header" >Confirm Completed Transaction?</h1>
                    <p> You are about to confirm your ticket transaction for: </p>
                    </br>
                    <!-- Individual Show Information -->
                    <p id="confirmSellBody">An error ocurred in displaying the show name.</p>
                    </br>
                    <p> This procedure is irreversible.</p>
                    </br>
                    <p><strong>Do you want to proceed?</strong></p>
                </div>
                <div class="modal-footer">
                    <!-- Cancel Button -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <!-- Confirm Button -->
                    <a id = "confirmSellButton" class="btn btn-success btn-ok" data-dismiss="modal" onclick="confirmSellRequest(this)">Confirm</a>
                </div>
            </div>
        </div>

    </div>

    <!-- CONFIRM COMPLETED BUY Request Modal -->
    <div id="confirm-buy-confirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1 class="tiger-tix-modal-header">Confirm Completed Transaction?</h1>
                    <p> You are about to confirm your ticket transaction for: </p>
                    </br>
                    <!-- Individual Show Information -->
                    <p id="confirmBuyBody">An error ocurred in displaying the show name.</p>
                    </br>
                    <p> This procedure is irreversible.</p>
                    </br>
                    <p><strong>Do you want to proceed?</strong></p>
                </div>
                <div class="modal-footer">
                    <!-- Cancel button -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <!-- Confirm button -->
                    <a id = "confirmBuyButton" class="btn btn-success btn-ok" data-dismiss="modal" onclick="confirmBuyRequest(this)">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <!-- VIEW BUYERS Modal -->
    <div id="view-buyers" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h2></h2>
                </div>
                <div class="modal-body">
                    <h1 class="tiger-tix-modal-header" >Active Buyers</h1>
                    <!-- Individual Show Information -->
                    <p id="view-buyers-body">An error ocurred in displaying the show name.</p>
                    <br>
                    <p id="view-buyers-list">An error ocurred in displaying the buyers list.</p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</body>

<%= javascript_include_tag "mytix" %>

<%= stylesheet_link_tag "mytix" %>