// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;  
}

.row {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.fit {
  max-width:80%;
  max-height:100%;
}

h2 {
  color: black;
  font-family: "Courier New", Times, serif;
}

.btn {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}