// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary {
  background-color: rgb(231,133,62);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  border: none;
}

.btn-primary:hover {
    background-color: rgb(255,158,67);
    color: black;
}

.btn-default {
  background-color: rgb(100,100,100);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  border: none;
}

.btn-default:hover {
    background-color: rgb(150,150,150);
    color: black;
}
